<h2>Your Rooms</h2>
<ul>
{{#each rooms}}
<li>Name: {{name}}</li>
<li>Description: {{description}}</li>
<li><img src="{{imageUrl}}" alt="room-image"></li>
<li><a href="/room/edit/{{_id}}"><button>Edit room</button></a></li>
<li><a href="/review/write/{{_id}}"><button>Read reviews or write your own!</button></a></li>
{{/each}}
</ul>
